@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Vazirmatn", sans-serif;
  background-color: #0f172a;
  color: #f1f5f9;
  direction: rtl;
  min-height: 100vh;
}
